$content-width: 1200px;
$main: #E44B56;
$light: #f3e2e5;
$font-style: 'DM Sans', sans-serif;
$font-color: #27161b;
$link-color: #27161b;
$link-hover-color: $light;
$heading-font: 'DM Sans', sans-serif;
$heading-font-color: #27161b;
$header: #27161b;
$alt-main: #0d7ebb;
$alt-light: #d1f1ff;

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
