$content-width: 1200px;
$main: #E44B56;
$font-style: 'DM Sans', sans-serif;
$font-color: #4a2a34;
$link-color: #4a2a34;
$link-hover-color: $main;
$heading-font: 'DM Sans', sans-serif;
$heading-font-color: #4a2a34;
$light: #f3e2e5;
$header: #4a2a34;

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
