html{
  background-color:#fdfff9;
}
body {
  margin: 0;
  color: $font-color;
  font-family: $font-style;
  font-size: 1.1em;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}
.main-color{
  color: $main !important;
}
.alt-color{
  color: $alt-main;
}
.alt-light{
  color: $alt-light;
}
.thin{
	font-weight:200;
}
h1,
h2,
h3 {
  font-weight: 600;
  color: $heading-font-color;
  font-family: $heading-font;
  line-height: 1.5;
}
h1 {
  color: $main;
  font-size: 2.5em;
  a,
  a:visited {
    text-decoration: none;
    color: $main;
  }
}
h2 {
  font-size: 2em;
}
img{
	border-radius:4px;
}
a,
a:visited {
  color: $link-color;
  text-decoration: underline;
  font-weight: bold;
}
a:hover {
  color: $main;
  text-decoration: underline;
}
header {
  background: $header;
  padding: 0px 15px;
  text-align: center;
  margin: 50px 0 0;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  padding: 85px 15px 0 15px;
  max-width: $content-width;
  margin: 0 auto;
}
time {
  color: #898989;
}
.container {
  max-width: $content-width;
  margin: 0 auto;
}

/* Aside */

aside {
  position: fixed;
  top: 0;
  left: 0;
  background: #fdfff9;
  width: 100%;
  z-index: 2;
  border-bottom: 1px solid lighten($light, 30%);
  box-shadow: 0px 1px 1px RGBA(4, 25, 54, 0.1);
  nav {
    display:flex;
	justify-content:space-between;
	align-items:center;
    max-width: 1200px;
    margin: 0 auto;
	a{
	  display:flex;
	  align-items:center;
	  text-decoration:none;
	  font-size:1.2em;
	}
	a:hover{
	  text-decoration:none;
	  color: $link-hover-color;
	}
    ul {
	  margin-left: auto;
      padding: 0;
      list-style: none;
      li {
        float: left;
        position: relative;
        a {
          text-decoration: none;
          display: block;
          padding: 15px;
          font-family: 'Muli', sans-serif;
		  font-size:1em;
          line-height: 20px;
          margin-bottom: -1px;
          box-shadow: 0;
          &:hover,
          &:active {
            background: $header;
            text-decoration: none;
            color: $link-hover-color;
          }
        }
      }
    }
    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }
}
footer {
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:center;
	flex-wrap:wrap;
	gap:10px;
	padding: 40px 20px;
}
.foot2{
	margin:0;
}

/* top section of home page */
.home{
	display:block;
	margin:0 auto;
	padding:20px 0;
	gap:40px;
	align-items:center;
	margin-bottom:40px;
	div{
		display:block;
		margin:auto;
	}
	img{
		width:100%;
		max-height:300px;
		object-fit:cover;
		min-width:600px;
	}
	p{
		font-size:1.5em;
		line-height:1.2;
	}
}
.home h1{
	line-height:1;
	margin:0;
	font-size:3.2em;
}

/* blog posts with thumbnails */
.blogposts{
	/*display:flex;
	flex-wrap:wrap;
	flex-flow: row wrap;
	justify-content:space-between;*/

	display:grid;
	gap:20px 40px;
	grid-template-columns: repeat(1, 360px);
	justify-content:center;
	
	padding-top:20px;
	margin:0 auto;
	img{
		max-width:360px;
	}
}
.postcard{
	display:flex;
	flex-direction:column;
	align-items:start;
	justify-content:start;
	text-align:left;
}
.posttitle a{
	text-decoration:none;
}
.tags{
	justify-content:flex-start;
	flex-direction:row;
	gap:42px;
}

/* recent posts */
.recent{
	h3{
		display:inline;
		padding-bottom:2px;
		border-bottom:2px solid $main;
	}
}
hr{
	height:1px;
	border:none;
	border-top: 1px dotted $main;
	margin:0;
}
.allposts{
	padding-top:10px;
	padding-bottom:40px;
	a{
		text-decoration:none;
	}
}

/* post tags */
.posttags{
	font-size:.8em;
	margin-top:8px;
	a{
		display:inline-block;
		text-decoration:none;
		padding:3px 6px;
		margin-bottom:4px;
		background-color:$alt-light;
		border-radius:2px;
		font-weight:200;
		color:$font-color;
	}
	p{
		text-decoration:none;
		padding:3px 6px;
		background-color:$alt-light;
		border-radius:2px;
		font-weight:200;
		color:$font-color;
	}
}
.tagspage{
	display:inline-block;
	font-size:1em;
}
/* prevents from anchor links getting hidden behind nav bar */
:target{
	display:block;
	position:relative;
	top:-80px;
	visibility:hidden;
}
.postdate{
	font-size:.8em;
	color:gray;
	margin:4px 0;
}

/* blog post styling */
.postheader{
	margin:0;
	h1{
		font-size:3em;
		margin:10px 0;
	}
	h3{
		margin:0 0 10px 0;
	}
	time{
		font-size:0.9em;
	}
}
.postcontent{
	padding-top:40px;
	width:90%;
	margin:auto;
	img{
		width:100%;
	}
}
/* affiliate note and links styling */
.affiliate{
	line-height:1;
	padding-top:10px;
	p{
		margin:0;
		padding-bottom:8px;
	}
	a{
		margin:0;
		position:relative;
		top:2px;
		display:inline-block;
		overflow:hidden;
		white-space:nowrap;
		text-overflow:ellipsis;
		max-width:250px;
	}
}

/* styling for page.html layout */
.pageheading{
	display:block;
	gap:40px;
	justify-content:center;
	align-items:center;
	img{
		max-width:200px;
		margin:0 auto;
		display:block;
		padding-bottom:20px;
	}
	p{
		margin:0;
		font-size:1.2em;
	}
}

/* search styling */
#search-article{
	max-width:80%;
	margin:0 auto;
	#search-container{
		margin-top:40px;
		a{
			text-decoration:none;
			img{
				width:100%;
				max-height:200px;
				object-fit:cover;
			}
		}
	}
	#results-container{
		padding:0;
		display:flex;
		flex-direction:column;
		max-width:100%;
		padding:40px 0 0 0;
		margin:0 auto;
		h2{
			display:inline-block;
			margin:0;
			padding-bottom:20px;
		}
	}
	input{
		padding:4px 10px;
		font-size:1.2em;
		font-family: $font-style;
		width:100%;
	}
	#search-input{
		margin:0 auto;
	}
}
