/* responsive css */
@media screen and (min-width: 820px){
	.blogposts{
		grid-template-columns: repeat(2, 360px);
	}
}
@media screen and (min-width: 1200px){
	.home{
		display:flex;
	}
	.blogposts{
		grid-template-columns: repeat(3, 1fr);
	}
	#search-article{
		#results-container{
			max-width:800px;
			width:800px;
			padding:40px 40px 0 40px;
		}
	}
}