---
layout: default
---
<div class="postheader">
	<h1 class="posttitle">{{ page.title }}</h1>
	<h3>{{ page.subtitle }}</h3>
	<time
	  >{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author
	  }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</time>
</div>

<div class="postcontent">
	{{ content }}

	<div class="affiliate">
		{% if page.affiliatenote %}
		<p><i>{{ page.affiliatenote  }}</i></p>
		{% endif %}
		{% if page.affiliatelink %}
		<p>Affiliate link: <a href="{{ page.affiliatelink }}">https://www.fakesite.com/affiliate-link</a></p>
		{% endif %}
		{% if page.affiliatelink %}
		<p>Non-affiliate link: <a href="{{ page.nonaffiliatelink }}">https://www.fakesite.com/non-affiliate-link</a></p>
		{% endif %}
	</div>
</div>

<h3>Tags: </h3>
<div class="posttags">
	{% for tag in page.tags %}
	<a href="{{ site.baseurl }}/tags#{{ tag }}">{{ tag }}</a>
	{% endfor %}
</div>