---
layout: default
---

<h2>{{ page.title }}</h2>

{{ content }}

{% for tag in site.tags %}
  <div>
	<span id="{{ tag[0] }}"></span>
    <span class="posttags tagspage"><p>{{ tag[0] }}</p></span>
  </div>
  <div class="blogposts tags">
	{% for post in tag[1] %}
	<div class="postcard">
	  <a href="{{ post.url }}">
		<img src="{{ site.baseurl }}/{{ post.thumbnail }}">
		<!---<img src="{{ post.thumbnail }}">-->
	  </a>
	  <div class="posttitle">
		  <a href="{{ post.url }}">
			{{ post.title }}
		  </a>
		  <p class="postdate">{{ post.date | date: "%m/%d/%Y"}}</p>
	  </div>
	</div>
	{% endfor %}
</div>
{% endfor %}